<div id="forgotPasswordModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeForgotPasswordModal()">×</span>
        <h2>Восстановление пароля</h2>
        <form id="forgotPasswordForm" onsubmit="sendResetCode(event)" class="form-content">
            <div class="form-group">
                <label for="ForgotEmail" class="form-label">Email</label>
                <input type="email" name="Email" id="ForgotEmail" class="form-input" required placeholder="Введите email" />
            </div>

            <button type="submit" class="login-button">Отправить код</button>

            <span id="forgotPasswordError" class="error-message"></span>
        </form>
    </div>
</div>