<div id="loginModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeLoginModal()">×</span>
        <h2>Вход в систему</h2>
        <form asp-action="Profile" asp-controller="Profile" method="post" class="form-content">
            <div class="form-group">
                <label for="Email" class="form-label">Email</label>
                <input type="email" name="Email" id="Email" class="form-input" required placeholder="Введите email" />
            </div>

            <div class="form-group">
                <label for="Loginpassword" class="form-label">Пароль</label>
                <input type="password" name="Loginpassword" id="Loginpassword" class="form-input" required placeholder="Введите пароль" />
            </div>

            <button type="submit" class="login-button">Войти</button>

            @if (ViewBag.ErrorMessage != null)
            {
                <span class="error-message">@ViewBag.ErrorMessage</span>
            }

            <div class="forgot-password-link">
                <a href="#" class="link" onclick="showForgotPasswordModal()">Забыли пароль?</a>
            </div>

            <div class="register-link">
                <a href="#" class="link" onclick="showRegisterModal()">Нет аккаунта? Регистрация</a>
            </div>
        </form>
    </div>
</div>