<div id="resetPasswordModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeResetPasswordModal()">×</span>
        <h2>Смена пароля</h2>
        <form id="resetPasswordForm" onsubmit="resetPassword(event)" class="form-content">
            <div class="form-group">
                <label for="NewPassword" class="form-label">Новый пароль</label>
                <input type="password" name="NewPassword" id="NewPassword" class="form-input" required placeholder="Введите новый пароль" />
            </div>

            <div class="form-group">
                <label for="ConfirmPassword" class="form-label">Подтверждение пароля</label>
                <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-input" required placeholder="Подтвердите пароль" />
                <input type="hidden" name="Email" id="ResetEmail" />
            </div>

            <button type="submit" class="login-button">Сменить пароль</button>

            <span id="resetPasswordError" class="error-message"></span>
        </form>
    </div>
</div>