.login-container {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    min-height: calc(100vh - 120px);
    background: #21201F;
    width: 100%;
    padding-top: 60px; 
    padding-bottom: 60px;
}

.login-form {
    background: #3D3D3D;
    padding: 1.5rem;
    border: 1px solid #B85F00;
    border-radius: 0;
    box-shadow: 0 0 20px #B85F00;
    width: 80%; 
    max-width: none;
    margin-left: auto; 
    margin-right: auto; 
}

h2 {
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 2rem;
    padding: 0 1rem;
}

.form-group {
    margin-bottom: 1.5rem;
    width: calc(100% - 3rem);
    margin-left: 1.5rem;
    margin-right: 1.5rem; 
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
    color: #FFFFFF;
    font-weight: 500;
    text-align: left;
}

.form-input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #B85F00;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    background-color: #21201F;
    color: #FFFFFF;
}

    .form-input:focus {
        outline: none;
        border-color: #B85F00;
        box-shadow: 0 0 5px #B85F00;
        background-color: #21201F;
        color: #FFFFFF;
    }

    .form-input:not(:placeholder-shown) {
        border-color: #B85F00;
        background-color: #21201F;
        color: #FFFFFF;
    }

.login-button {
    width: calc(100% - 3rem); 
    padding: 0.8rem;
    background: #21201F;
    color: #FFC100;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-left: 1.5rem;
    margin-right: 1.5rem; 
}

    .login-button:hover {
        background: #21201F;
    }

.error-message {
    display: block;
    color: #dc3545;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    text-align: left;
}
